
:root{
    --primary:#007bff;
    --lightprimary:#0053b3;
    --white:#ffff;
    --primary:#007bff;
    --silver:#bcbcbe9e;
    --defautlinkcolor:#333;
    --yellow:#ffd700;
    --muted:#777777;
    --whiteBG:#f8fAfc;
    --primarybg:#516EFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
body {
    overflow-x: hidden  
}
 /* scrollbar css */
::-webkit-scrollbar{
    width: 8px; 
} 
::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
} 
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    
    flex-wrap: wrap;  
    width: 100%; 
    padding: 0 70px 0 70px;
    margin-top: 10px;    
}
.branding .logo img{
    width: 170px;   
}
.branding {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    place-content: center; 
    justify-content: space-between;
    
}
.menu{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    place-content: center;
    /* margin-left: 00px; */
    
}
nav {
    display: flex;
    align-items: center;
    /* margin-right: 50px; */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    
    
}
nav ul li a.survol-souris {
    text-decoration: none;
    color: var(--muted); 
}
.menu li {
    list-style: none; 
}
.menu li a.survol-souris {
    font-size: 14px;
    text-decoration:0 ;
    color: #999;
    position: relative;
}
.menu li a.survol-souris::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: var(--primarybg);
    transition: 0.5s;
}
.menu li a.survol-souris:hover::before{
    width: 100%;
}
.menu li a.survol-souris::after{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: var(--yellow);
    transition: 0.5s;
}
.menu li a.survol-souris:hover::after{
    width: 100%;
}
 .menu li a.survol-souris:hover{
    color: var(--primarybg);
 
}

#divbutton{
    display: flex;
    
}
header a.button  {
    color: white;
    font-size: 17px;
}
header .button {
   background-color: var(--primarybg);
   padding: 12px 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer; 
   margin-right: 10px;   
   font-size: 16px;
}
header .button:hover {
   color: white;
   font-size: 15px;
}
.ligne{
    width:100%;
    height: 1px;
    background-color:rgb(169, 167, 172);   
}
#home{
    display: flex;
    justify-content: space-between;
    align-self: center;
    place-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
#home .left {
   margin-left: 60px;
   width: 100%;
   display: flex;
   flex-direction: column ;
   justify-content: center;
   align-items: start;
} 
#home .left p{
    font-size: 19px;
    margin-right: 15px;
    color: #999;
    margin-top: 30px;
    line-height: 25px;
}
#home .left h1{
   font-size: 50px;
   font-weight: bold; 
   margin-top: 0;   
}
#home .left button:nth-of-type(2) a {
     color: var(--muted);
}
#home .left button {
    margin-top: 25px;
    padding: 15px 35px;
    border: 10px;
    width: 209px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    background-color: var(--primarybg); 
    border-radius: 8px;
    color: var(--white);
    font-size: 15px;
}
     
#home .left button:nth-of-type(2) {
    background-color: white;
    border: 2px solid #ccc;
    color: gray;}
.left button a{
    color: white;

}
#home .right{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
#home .right img {
    width: 80%;
    margin-right: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: center;  
}

.left span{
    color: var(--yellow);
}
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.services .texte{
    color: var(--white) ;
    margin-left: 50px;
    
}
.texte p{
    font-size: 22px;
}
.texte h2{
    margin-bottom: 20px;
    font-size: 33px;
}

.bleu{
    padding: 0 28px;
    background-color:var(--primarybg);
    padding-top: 25px;
    padding-bottom: 25px;    
}
.ordonner{

    display: flex;
    justify-content: space-between;
    align-items: center;
    place-content: center;
    margin-right: 20%;
    margin: 10px;
    gap: 25px;
    align-self: center;
    padding-top: 25px;
    border-radius: 20px;
    width: 50%;
}    
.services .rdv{
    height: 120px;
    width: 140px;
    background-color: white;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 10px;
}
.services .rdv img{
    width: 35px;
}
.services .rdv p{
    margin-top: 15px;
    font-weight: 400;
}

    /* 3EME SECTION--------------------------- */
#sectiontrois{
    display: flex;
}
#sectiontrois .medecin{
    width: 42%;
    padding: 50px 0 50px 50px;
    background:var(--whiteBG) ;
    border-radius: 0 0 70px 0;
}
.contentlist{
    display: flex;
    justify-content: center;
    margin-right: 200px;
}
.list{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.shield{
   width: 100%;
   margin-left: 60px;
}
.shield img{
    margin-right: 15px;
    margin-bottom: -10px; 
    padding-top: 18px;
    padding-left: 15px;   
}
#sectiontrois .list h2{
    font-size: 23px;
    font-weight: 500;
    margin-left: 250px;
}
.list P{
    margin-bottom: 10px;
    font-size: 20px;  
}
.premlist{
    margin-right: 50px;
}
.deulist{
    margin-left: 50px;
}
.provide{
    font-size: 30px;   
    margin-right: -40%; 
    margin-left: 180px;
    margin-top: 10px; }
     /* css makes ............*/
.makes h2 {
    margin-top: 100px; 
    font-size: 40px;
}
h2 span {
    color: var(--yellow);
}
#bare{
    margin: 0 48px;
    margin-left: 200px;
    margin-top: -17px;
}     
#diagnos{
    margin-top: 30px;         
}
.diagnosti{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 280px) ;
    align-items: center; 
    gap: 50px;
    justify-content: center;    
}
.diagnosti .diagnostic{
    height: 280px;
    width: 300px;
    background-color: var(--whiteBG);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);        
}
.diagnosti .diagnostic img {
    width: 80px;
    height: 80px;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 15px;     
}
.diagnosti .diagnostic h1{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.diagnosti .diagnostic h1{
    text-align: center;
}
.diagnost h2{
    margin-top: 30px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}
.diagnosti P{
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: #777777;      
}
.story span{
    color: var(--yellow);
}
.history{
    font-weight: bold;
    font-size: 20px;
}
.stories{
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px; 
    width: 90%;  
    margin: 30px auto;
}
.stories .left img{
    width: 90%;
    margin-left: 50px;
    border-radius: 15px;
    margin-top: 10px;
 
}
.story h1{
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;        
}
.story {
    width: 100%;
}   
.stories .right1{
    background-color: var(--whiteBG);
    border-radius: 15px;
    padding:40px; 
    height: 300px;
    margin-left: 60px;
    width: 80%;
    margin-right: 40px;          
}
.right1 h1{
    margin-bottom: 20px;
    font-size: 25px;
}
.right1 p{
    line-height: 2;
    font-weight: lighter;
    color: #777777;      
}
 /* css /container ::::::::::::::*/

.meet{
    display: flex;
    justify-content: space-between;
}
.container{
       
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;        
}

#makes h2 span{
    color: var(--yellow);
}
#makes h2{
    margin-right: 70px;
    font-size: 30px;
}
#makes h1{
    font-size: 30px;        
}
.cadre{
    text-align: center;
    line-height: normal;
    border: 1px solid  #777777;
    border-radius: 8px;
    padding: 0 20px 30px 20px;
       
} 
.cadre button .button {
    color: var(--primarybg);
}
a{
    text-decoration: none;        
}
.button a{
    color: var(--lightprimary);
}
.cadre h1{
    margin-top: 15px;
    font-size: 17px;
    
}
.cadre p {
   color: #777777;
}
#form1 input::placeholder{
    color: white;
}
.cadre p {
    margin-top: 15px;
    font-size: 13px;       
}
.cadre button{
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid var(--primarybg);
    color: var(--primarybg);
    background-color: transparent;
}

     /*::::::: :::::::css about us :::::::::::::::::::::::::*/
#about-us{
    background-color: var(--primary);       
}
#about-us .dame{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-us .content-about{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    text-align: left;      
}
.subscribe {    
    align-self: center;
}
#about-us .mini-desc{
    margin-right: 20%;
    color: var(--white);
    align-items: center;
    padding-top: 100px;
    margin-top: -45px;

        
}
#about-us .dame{
    background-color: var(--white);
    height: 300px;
    width: 280px;
    margin-left: 50px; 
}
.dame h1{
    text-align: center;
    padding-top: 10px;       
}
.mini-desc P{
    margin-top: 20px;
    line-height: 30px;

}
/* <!-- ::::::::: css-section-consultation ::::::::::::::::::::::::::::::::::::::::::::::::::::: --> */

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
        

       
}
input{
    padding: 10px 25px;
    margin: 5px 20px;
    border-radius: 8px;
    border-color: var(--silver);
    width: 250px;
}
select{
    padding: 10px 30px;
    border-radius: 8px;
    margin: 5px 20px;
    border-color: var(--silver);
    margin-right: 22px;
    width: 250px;
    color: grey;
}
#form #date{
    color: gray;
}
label {
    margin-left: 20px;
       
}
.boite-left{
    display: flex;
    justify-content: space-between;
      
}
 
.boite-right{
    display: flex;
    justify-content: space-between;
}
#remember {
    margin: 0;
    padding: 0;
    width: 50px;
    margin-left: 10px;
    margin-right: -10px;
    margin-bottom: 10px;

}
.div-checbox {
    display: flex;
    
}
.content-picture img{
    width: 320px;
    border-radius: 20px;
}
form#form {
    height: 550px;
}

#form .corps-formulaire {
    display: flex;
    flex-direction: column;
    top: 0;
    margin-bottom: 200px;
    margin-left: 25px;        
}
#form .corps-formulaire .boite {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
textarea{ 
    margin-top: 10px;
    width: 93%;
    padding: 10px; 
    border: 2px solid var(--silver);
    outline-color:var(--primarybg);
    border-radius: 5px;
    resize: none;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 18px;          
}
#bouton{
    background-color: var(--primarybg);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15PX;
    border:none;
    padding: 10px 20px; 
    width: 92%;
    cursor: pointer;
    margin-left: 25px;
}  
#form  button :hover{
    ransform: scale(1.05);
}
.subscribe{
    background-color: var(--whiteBG);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    height: 350px;
}
.subscribe #form1{
    background-color: #216583;
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    height: 230px;
    flex-direction: column;
    padding: 16%; 
    border-radius: 15px;
    padding-bottom: 30px;
    width: 1150px;        
}
.subscribe #form1 h2{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -180px;
}

.inputclass{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    align-items: center;
            
}
#form1 .inputclass input{
    background-color: var(--silver); 
 
  

}
#form1 .inputclasse .put{
   padding: 10px 20px;   
   background: var(--primary); 
 
}
#form1 button {
   padding: 12.1px 30px;
   border-radius: 8px 8px 8px 8px;
   border : navajowhite;
   width: 250px;
  
   
}

/* :::::::::::::::::::::::::::dernier section:::::::::::::::::::::::::::::::::::::::::::::: */
.dernier-section{
   display: flex;
   background-color: var(--primarybg);
   justify-content: space-between;
   color: var(--white);
   align-items: center;
   flex-wrap:noswrap;
   padding: 100px;

}    
.dernier-section .div1,
.dernier-section .div2,
.dernier-section .div3 {
   border-right: 1px solid var(--silver);
   padding-right: 40px; 
 
}
.div1 img{
    filter: invert(100%);
    filter: brightness(100);
    height: 30px;    
}
.reseau-sociaux{
    display: flex;
    
}
.div3 p {
    margin-bottom: 10px;
} 
.div4 p{
    line-height: 2;
}
.div1 p{
    line-height: 2;}
.div2 p{
    line-height: 2;}
.reseau-sociaux a {
    color: white;
    line-height: 2;
}
.reseau-sociaux1{
    display: flex;
    flex-direction: column;
    margin-right: 25px;   
}
.reseau-sociaux2{
    display: flex;
    flex-direction: column;
}          
footer{
    background-color: #216583;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
#lignehr{
    text-align: right;
}
#lignehr span{
    color: var(--yellow);
}
#makes {
    margin-left:50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.toggle-menu {
    display: none;
}
@media  screen and (max-width:600px){
    header .menu{
        display: none;
        
        
    }
    header {
        padding: 0 20px;
    }
    header button {
        display: none;
    }
    #home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
       
    }
    #home .left  {
        width: 80%;  
       
    } 
    #home .left h1 {
        font-size: 30px;
    }
    #home .left P {
        font-size: 15px;
    }
    #home .left{
        margin-bottom: 20px;
    }
    #home .right{
        justify-content: center;
        align-items: center;
       padding: 0 20px;
    }
    #home .right img {
        margin-right: 0;
    }
    .services {

       display: block;
      
    }
    .ordonner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
        align-self: center;
        width: 100%;
    }
    .texte h2{
        font-size: 29px;
        margin-top: 20px;
    }
    .texte p {
        text-align: center;
        margin-right: 70px
    }
    #sectiontrois{
        display: flex;
        flex-direction: column;
        
    }
    #sectiontrois .medecin{
    width: 90%;
    padding: 0px 0 50px 50px;
    background:none ;
    border-radius: 0 0 70px 0;
    }
    #sectiontrois .medecin img {
        width: 100%;    
    }
    .contentlist{
       display: flex;
       justify-content: center;
       width: 100%;   
    }
    #sectiontrois .list h2{
       margin-left: 100px;
       font-size: 25px;
    }
    .list P {
       font-size: 14px;   
    }
    .list {
        width: 80%;   
    }
     .premlist{
       width: 35%;
    }
    .deulist {
       width: 40%;
    }
    .shield img {
        width: 40px;
    }
    .shield {
       align-items: center;
       width: max-content;
       justify-content: center;

    }
    .diagnosti {
       display: grid;
       grid-template-rows: repeat(1, 1fr);
       grid-template-columns: repeat(1, 1fr);
    }
    .diagnost h2{
        font-size: 30px;
    }
    .diagnosti .diagnostic{
        margin: 0 auto;
    }
   .stories {
       flex-direction: column;
       justify-content: center;
       width: 100%;
    }
    .stories .left , .stories .right1 {
       width: 80%;
       margin-right: 100px;
    }
    .stories .right1 P {
       line-height: normal;
    }
   .stories .left img {
       width: 100%;  
    }
    .stories .right1{
       width: 470px;
       margin: 20px auto;
       height: 350px;
    }
    .story h1{
       font-size: 30px;
    }
    .container{
       display: flex;
       flex-direction: column;
    }
    .content-picture img {
       display: none;
    }
    .boite-left {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   .boite-right {
       display: flex;
       flex-direction: column;
    } 
     .corps-formulaire{
      margin-right: 40px;
       margin-left: 0;
    } 
    .inputclass {
       display: flex;
       flex-direction: column;
       margin-top: 0;
    }
    #remember {
       
        margin-left: 0;
    }
    .btn-confirm {
        width: 92%;
        margin-right: 25px;
    }
    .div-checbox  P {
        font-size: 12px;

    }
    #form1 .inputclass input{
       width: 309px;
    }
    #form1 button {
       width: 309px;
       margin-top: 4px;
       border-radius: 10px; 
    }  
    .subscribe{
       margin-top: 100px;
       height: 300px;
    }
    .subscribe #form1{   
       width: 380px;
       padding: 12%;
       height: 250px;
       border-radius: 20px;
      
    }  
    .subscribe #form1 h2{
   
       margin-top: 0;
       font-size: 20px;
    }
    .subscribe #form1 input {
        margin: 10px 10px;
    }
    textarea {
       width: 86%;
       height: 100px;
    } 
    #button {
        width: 10%;
    }
   
   .dernier-section{
       display: flex;
       background-color: var(--primarybg);
       justify-content: center;
       color: var(--white);
       align-items: center;
       flex-wrap:wrap;
       padding: 10px auto;
    }
    .dernier-section .div1,
    .dernier-section .div2,
    .dernier-section .div3 {
        padding-bottom: 40px; 
        border: none;
        padding-top: 20px;
        border-bottom: 1px solid var(--silver);
    }
    .dernier-section .div4 {
       padding-top: 20px;
       
    }
    .toggle-menu {
       display: flex;
       height: 40px;
       width: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       position: relative;
       cursor: pointer;
   }
   .toggle-menu::before {
       position: absolute;
       content: "";
       height: 3px;
       width: 28px;
       background-color:  var(--primarybg);
       border-radius: 6px;
       box-shadow: 0 10px 0  var(--primarybg);
       transform: translateY(-10px);
       transition: 0.5s;
    }
    .toggle-menu.active::before {
       transform: translateY(0) rotate(135deg); 
       box-shadow: 0 0 0 #0d0e0d;   
    }   
    .toggle-menu::after { 
       position: absolute;
       content: "";
       height: 3px;
       width: 28px;
       background-color: var(--primarybg);
       border-radius: 6px;
       transform: translateY(10px);
    }
    .toggle-menu.active::after {
       transform: translateY(0) rotate(-135deg); 
       box-shadow: 0 0 0  var(--primarybg);
    }   
    header .menu.responsive {
       display: flex;
       position: absolute;
       top: 50px;
       width: 60%;
       display: flex;
       align-items: center;
       background-color: #fff;
       box-shadow: 0 0 10px var(--primarybg);
       flex-direction:column;
       right: 0;
       height: 40%;
       line-height: 2;
    }
    header .menu.responsive li {
       margin: 25px O;
   }    
}